    /* .link-normal{
            background-color: #00F;
            color: #fff;
            margin: 10px;
            padding: 20px;
            border: 1px solid #000;
        }

        .link-bloco{
            display: block;
            background: #00F;
            color: #FFF;
            margin: 10px;
            padding: 10px;
            border: 1px solid #000;
        } */

        /* .fundo-imagem{
            background-color: #00F url(smile.gif) no-repeat 10px 50%;
            padding: 1em 1em 1em 25em;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        } */






        /* .cabecalho{
            background-color: rgb(134, 109, 109);
            padding: 5em;
        }

        .logo{
            background: #FFC url(smile.gif) no-repeat 0px 0px;
            padding: 9em 9em 20em 20em;
            display: inline;
        } */


        